{% extends 'base.html' %}
{% block content %}

<h1>Atendimentos Cadastrados</h1>

<table>
    <thead>
        <tr>
            <th>
                Data
            </th>
            <th>
                Hora
            </th>
            <th>
                Motivo
            </th>
            <th>
                Cliente
            </th>
            <th>
                Ações
            </th>
        </tr>
    </thead>
    <tbody>
        {% for atendimento in atendimentos %}
        <tr>
            <td>
                {{ atendimento.get_data() }}
            </td>
            <td>
                {{ atendimento.get_hora() }}
            </td>
            <td>
                {{ atendimento.get_motivo() }}
            </td>
            <td>
                {{ atendimento.cliente_nome }}
            </td>
            <td>
                <a href="{{ url_for('editar_atendimento', id=atendimento.get_id())}}">Editar</a>
                <a href="{{ url_for('excluir_atendimento', id=atendimento.get_id())}}">Excluir</a>
            </td>
        </tr>
        {%endfor%}
    </tbody>
</table>

<a href="{{ url_for('criar_atendimento')}}">Criar atendimento</a>

<p>
    <a href="{{ url_for('listar_clientes')}}">Ver Clientes</a>
</p>
{% endblock %}